 @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Raleway:wght@200&display=swap');

:root {
    --prim-clr:#000000;
    --sec-clr:#ec87e4;
    --accent-clr:#d3fbd8;
    --prim-font:'Raleway', sans-serif;
    --sec-font:'Dongle', sans-serif;
}

h1 {
    font-family: var(--prim-font);
}